* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #e3b261;
  color: #644201;
  font-size: 120%;
}

a {
  color: #644201;
}

a:hover {
  color: #644101c2
}

article {
  margin: 20px 0;
  padding: 20px;
}

section {
  padding: 5px;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

footer {
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}