body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #e3b261;
  color: white;
  font-size: 120%;
}

header a {
  color: white;
}

section {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

footer {
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}